@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Audiowide";
    color: white;
    font-size: 4rem;
    text-shadow: 1px 1px 2px black;
    margin-top: 2rem;
}

main {
    display: flex;
    gap: 20px;
}

aside {
    border: 1px solid #000;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#menu {
    font-family: impact;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
}

button {
    width: 75%;
    margin: 10px 0px;
    font-size: 1rem;
    padding: 5px;
    font-family: impact;
    letter-spacing: 1px;
    border-radius: 5px;
}

button.active {
    border: 3px solid #20c1fb;
}

input[type="color"] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label {
    font-family: "Audiowide";
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 2rem;
}

.grid-container {
    border: 3px solid #000;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
    flex: 1;
    min-width: 600px;
    min-height: 600px;
    display: grid;
    grid-template-rows: repeat(5, 20%);
}

item {
    background: white;
    border: 1px solid black;
}
item:hover {
    border: 3px solid cyan;
}
